:root {
    --pal-light: rgb(123, 69, 148);
    --pal-semi-dark: rgb(97, 59, 129);
    --pal-dark: rgb(43, 26, 74);
    --pal-dark-translucent: rgba(43, 26, 74, 0.555);
    --pal-semidark-unsaturated: rgb(125, 117, 167);
    --pal-light-unsaturated: rgb(136, 129, 172);
    --pal-light-grey: rgb(192, 192, 192);
}

.bg-pal-light-dark-gradient-right {
    background: linear-gradient(to right, var(--pal-light), var(--pal-dark));
    background-attachment: fixed;
}

.bg-pal-light-dark-gradient-bottom {
    background: linear-gradient(to bottom, var(--pal-light), var(--pal-dark));
    background-attachment: fixed;
}

.bg-pal-light-dark-gradient-center {
    background: linear-gradient(to right, var(--pal-light), var(--pal-dark), var(--pal-light));
    background-attachment: fixed;
}

.bg-pal-dark-light-gradient-center {
    background: linear-gradient(to right, var(--pal-dark), var(--pal-light), var(--pal-dark));
    background-attachment: fixed;
}

.bg-pal-dark-semidark-gradient-center {
    background: linear-gradient(to right, var(--pal-dark), var(--pal-semi-dark), var(--pal-dark));
    background-attachment: fixed;
}

.bg-pal-dark {
    background: var(--pal-dark);
}

.bg-pal-semidark {
    background: var(--pal-semi-dark);

}.bg-pal-light {
    background: var(--pal-light);
}

.bg-pal-light-unsaturated {
    background: var(--pal-light-unsaturated);
}

.bg-dark-translucent {
    background: var(--pal-dark-translucent);
}

.pal-light {
    color: var(--pal-light);
}

.pal-dark {
    color: var(--pal-dark);
}

.pal-semidark {
    color: var(--pal-semi-dark);
}

.pal-light-unsaturated {
    color: var(--pal-light-unsaturated);
}

.item-card {
    background: var(--pal-light-unsaturated);
}

.bg-stars {
    background-image: url("/background.webp");
}

.bg-invisible {
    background-color: rgba(0, 0, 0, 0);
}

.bg-invisible:focus {
    background-color: rgba(0, 0, 0, 0);
}

html * {
    font-family: "Audiowide", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.text-light::placeholder {
    color: white;
}


.sideways-scroll-row {
    white-space: nowrap;
    overflow: scroll;
    position: relative;
    mask-image: linear-gradient(to right, transparent 0%, black 40%, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 40%, black 60%, transparent 100%);
}

.sideways-scroll-row>.sideways-scroll-item {
    display: inline-block;
}

.fs-smaller {
    font-size: smaller;
}

.btn-white, .btn-white:active, .btn-white:visited {
    color: #FFFFFF;
}

.btn-white:hover {
    color: var(--pal-light-grey);
}

.btn-white:disabled {
    color: var(--pal-light)
}